.button {
  position: absolute;
  top: -2.3em;
  font-size: 0.9rem;
  border: none;
  background-color: transparent;
  padding: 4px 2px;
  margin: 0 0 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
}
