.search_input {
  width: 100%;
  min-width: 120px;
  margin: 0;
  padding: 9px 14px;
  font-size: 1.1em;
  border-radius: 20px;

  color: rgba(128, 41, 107, 1);
  background-color: rgba(232, 196, 243, 0.9);
  box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.432);
  transition: 0.1s border-radius;

  outline: none;
  border: none;
  outline-style: none;

  @media only screen and (min-width: 600px) {
    width: 520px;
    font-family: 14px;
  }

  &:focus {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: rgba(232, 196, 243, 0.95);
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.432);
  }

  &::placeholder {
    color: rgba(101, 63, 113, 1);
  }
}
